/*  Basic style */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:root {
  --dark-Grayish-Red: hsl(0, 6%, 24%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Desaturated-Red: hsl(0, 36%, 70%);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(images/bg-pattern-desktop.svg);
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  height: 100%;
  width: 100%;
}

form input {
  border-radius: 30px;
  border: 0.5px solid var(--dark-Grayish-Red);
  /* position: absolute; */
}

form button {
  cursor: pointer;
  /* position: absolute; */
  right: 0;
  top: 0;
  height: 50px;
  border-radius: 30px;
  border: none;
}

footer {
  margin: 20px;
}

h1 {
  font-weight: 300;
  color: var(--Desaturated-Red);
  letter-spacing: 6px;
  font-size: 26px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

h2 {
  font-weight: 400;
  color: var(--dark-Grayish-Red);
  letter-spacing: 6px;
  font-size: 32px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

p {
  font-weight: 300;
  color: var(--Desaturated-Red);
  padding-bottom: 20px;
}

/* main style */
.content {
  padding: 0 150px;
  height: 100%;
}

.logo {
  margin: 50px 0;
  height: 60px;
  width: 120px;
}

.logo img {
  object-fit: contain;
}

.image {
  width: 100%;
  height: 100%;
}

.error {
  color: var(--Soft-Red);
}

.email {
  height: 100%;
  width: 100%;
}
